<div class="container mt-5 w-100 p-5  shadow-lg rounded">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">FirstName</th>
        <th scope="col">Email</th>
        <th scope="col">mobile</th>
        <th scope="col">gender</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user._id}}</th>
        <td>{{user.firstname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.gender}}</td>
        <td>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#view"
            (click)="viewUser(user._id)">View</button>&nbsp;
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit"
            (click)="editUser(user._id)">Edit</button>&nbsp;
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"
            (click)="deleteUser(user._id)">Danger</button>
        </td>
      </tr>

    </tbody>
  </table>





  <!-- View Modal -->
  <div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">User Detail</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="singleUser">
          <h6><span>Firstname</span><span class="float-end">{{singleUser.firstname}}</span></h6>
          <h6><span>Email</span><span class="float-end">{{singleUser.email}}</span></h6>
          <h6><span>Mobile</span><span class="float-end">{{singleUser.mobile}}</span></h6>
          <h6><span>Gender</span><span class="float-end">{{singleUser.gender}}</span></h6>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- View Modal Ends -->


  <!-- Edit Modal -->
  <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User Detail</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="singleUser">
          <!-- ############################################# -->
          <!-- <div class="container "> -->
          <h3 class="text-center">Edit User Form</h3>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="mb-2">
              <label for="firstname" class="form-label">FirstName</label>
              <input type="text" class="form-control" placeholder="First Name" formControlName="firstname"
                id="firstname" [(ngModel)]="singleUser['firstname']">
              <div class="text-danger" *ngIf="!firstname?.valid && (firstname?.dirty ||firstname?.touched)">
                <div [hidden]="!firstname.errors.required">
                  First Name is required
                </div>
                <div [hidden]="!firstname.errors.minlength">
                  Min Length is 4
                </div>
              </div>
            </div>

            <div class="mb-2">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="email" id="email"
                [(ngModel)]="singleUser['email']">
              <div class="text-danger" *ngIf="!email.valid && (email.dirty ||email.touched)">
                <div [hidden]="!email.errors.required">
                  email is required
                </div>
                <div [hidden]="!email.errors.email">
                  invalid email id
                </div>
              </div>
            </div>

            <div class="mb-2">
              <label for="gender" class="form-label">Gender</label>
              <br />
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender" value="male"
                  formControlName="gender" [(ngModel)]="singleUser['gender']">
                <label class="form-check-label" for="gender">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender" value="female"
                  formControlName="gender" [(ngModel)]="singleUser['gender']">
                <label class="form-check-label" for="gender">Female</label>
              </div>
              <div class="text-danger" *ngIf="!gender.valid && (gender.dirty ||gender.touched)">
                <div [hidden]="!gender.errors.required">
                  gender is required
                </div>
              </div>
            </div>

            <div class="mb-2">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="password"
                id="password" [(ngModel)]="singleUser['password']">
              <div class="text-danger" *ngIf="!password?.valid && (password?.dirty ||password?.touched)">
                <div [hidden]="!password.errors.required">
                  Password is required
                </div>
                <div [hidden]="!password.errors.minlength">
                  Min Length is 6
                </div>
              </div>
            </div>

            <div class="mb-2">
              <label for="mobile" class="form-label">Mobile No</label>
              <input type="number" class="form-control" placeholder="mobile no" formControlName="mobile" id="mobile"
                [(ngModel)]="singleUser['mobile']">
              <div class="text-danger" *ngIf="!mobile?.valid && (mobile?.dirty ||mobile?.touched)">
                <div [hidden]="!mobile.errors.required">
                  Mobile is required
                </div>
                <div [hidden]="!mobile.errors.pattern">
                  Please Enter 10 digit mobile no
                </div>

              </div>
            </div>


            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg btn-block mb-2"
                [disabled]="!updateForm.valid">Submit</button>
            </div>

          </form>

          <!-- <h3>Form Value</h3>
          {{updateForm.value |json}} -->

          <!-- </div> -->

          <!-- ########################################################################## -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id=editModal>Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Modal Ends -->

  <!-- Delete Modal start -->

  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container">
          <div class="modal-body mt-5 mb-5">
            <h4 class="text-center">Are You Sure Want To Delete?</h4>


          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="deleteModal">No</button>
          <button type="button" class="btn btn-primary" (click)="removedUser()">Yes</button>
        </div>

        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
      </div>
    </div>
  </div>

  <!-- Delete Modal Ends -->

</div>